/*  only used to style non-material ui themes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://i.pinimg.com/564x/06/0d/34/060d348baa874f2c77301f54b4dccd64.jpg");
}
body {
  background-color: #0d111f;
}
.Link {
  text-decoration: "none";
  color: "black";
}
.home {
  background: #0d111f !important ;
}
