/*  only used to style non-material ui themes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  height: 100vh;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.shutterstock.com/image-illustration/gis-neon-concept-self-illumination-600w-1659981379.jpg"); */
  background: linear-gradient(to right, #434343 0%, black 100%);
}
body {
  background-color: #0d111f;
}
.Link {
  text-decoration: "none";
  color: "black";
}
.home {
  background: #0d111f !important ;
}

.navbar {
  color: #0d111f;
}
.FooterItem {
  color: rgb(55, 149, 161);
  text-decoration: none;
}
.FooterItem:hover {
  color: rgb(115, 139, 70);
}
